package ${packageName};

public class ${className} {

#if(${mapper.url})
	private String commonURL = "${mapper.url}";
#end

#if(${mapper.responseCharset})
	private String responseCharset = "${mapper.responseCharset}";
#end

#foreach($item in ${mapper.requestHeaders})

#end

#foreach($item in ${mapper.requestParams})

#end

#foreach($method in ${mapper.methods})
	public ${method.returnType.simpleName} ${method.name}(#foreach($param in ${method.parameters})${param.parameterType.simpleName} ${param.name}#if($foreach.hasNext),#end#end){

	}

#end
}